<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Desafio 5 - EJS</title>

</head>

<body>
    <a href="/productos">IR A LISTA DE PRODUCTOS</a>
    <h2>Nuevo producto</h2>
        <form action="/productos" method="POST">
            <div>
                <label for="title">Titulo</label>
                <input type="text" id="title" name="title" required><br><br>
            </div>
            <div>
                <label for="price">Precio</label>
                <input type="number" id="price" name="price" required><br><br>
            </div>
            <div>
                <label for="thumbnail">Imagen</label>
                <input type="text" id="thumbnail" name="thumbnail" required><br><br>
            </div>
            <button type="submit" value="Enviar" class="enviar">Agregar Producto</button>
        </form>

</body>

</html>