<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafio 5 - EJS</title>
</head>
<body>
  <a href="/">IR A CARGA DE PRODUCTOS</a>
  <h2>Lista de Productos</h2>
  <% if (products.length == 0) {  %>
    <h3>No hay datos</h3>
  <% } else { %>
  
  <table>
    <tr>
      <th>Titulo</th>
      <th>Precio</th>
      <th>Foto</th>
    </tr>
    <% products.forEach((product) => { %>
  
      <tr>
        <td><%= product.title %></td>
        <td><%= product.price %></td>
        <td> <img src=<%= product.thumbnail %> alt=""></td>
      </tr>
    <% }); %>
  </table>
  
  <% } %>
</body>
</html>